* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(1, 1, 23);
    color: burlywood;
}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(7, 14, 52);
}

.button {
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    color: rgb(0, 0, 0);
    font-size: 1.08rem;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: burlywood;
}

nav ul li a:hover {
    color: rgb(237, 236, 234);
}

.name {
    font-size: 1.8rem;
}

#Home {
    display: flex;
    justify-content: space-around;
    margin: 23px 0;
}

#Home div {
    width: 30%;
    overflow: hidden;
}

.left-div {
    margin: 50px 0;
    width: 34px;
}

#hello {
    font-size: 3rem;
    color: rgb(217, 112, 202);
}

.left-div p {
    font-size: 1.9rem;
    margin-bottom: 13px;
}

.left-div span {
    font-size: 2rem;
}

.png img {
    margin: 40px 0;
}

#element {
    color: rgb(217, 112, 202);
}

main hr {
    border: 0;
    background: rgb(93, 70, 162);
    height: 2px;
    margin: 50px 269px;
}

#About {
    display: flex;
    justify-content: center;
    background-color: rgb(1, 1, 23);
}

.team {
    text-align: center;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    background-color: rgb(1, 1, 23);
}

.team h2 {
    /* text-align: center; */
    font-size: 3rem;
    margin-bottom: 50px;
    color: burlywood;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;
}

.team-member {
    display: flex;
    flex-direction: row;
    background-color: rgb(7, 14, 52);
    border: 3px solid rgb(217, 112, 202);
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    transition: transform 0.3s ease;
}

.team-member:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 10px rgb(254, 189, 234);
}

.member-photo {
    width: 20%;
    height: auto;
    border-radius: 30%;
    margin-bottom: 20px;
}

.member-photo1 {
    width: 20%;
    height: auto;
    border-radius: 30%;
    margin-bottom: 20px;
}

.team-member h3 {
    font-size: 25px;
    color: burlywood;
    margin-bottom: 10px;
}

.member-name {
    font-size: 20px;
    font-weight: bold;
    color: #d896e5;
    margin-bottom: 10px;
}

.team-member p {
    font-size: 14px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
}

.member-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
